<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SearchResult</title>
    <link rel="stylesheet" href="/static/css/search_system.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

</head>
<body>
    {% include 'translate.html' %}
    <div class="all_actions">
    <h1 id="title_name">Automatical report</h1>
    <div class="search">
    <form method="POST" action="{% url 'auto_keywords_report' %}">
        {% csrf_token %}
        <input id="search_input" type="text" name="url" required placeholder="Input URL...">
        
    </form>
     
    </div>
    <div id="add_links_and_calc_metrics">

    <form action="{% url 'download_report' %}">
        <button class="btn"  type="submit">Download Result</button>
    </form>
    <form action="{% url 'search_results' %}">
        <button  class="btn" type="submit">Return to search</button>
    </form>
    <form action="{% url 'auto_report' %}">
        <button class="btn"  type="submit">Classic Report</button>
    </form>
    </div>
    </div>
    
    <div id="div-for-link">
    <a id='lang-link' href = '{{ url }}' target="_blank"> {{ url }}</a>
    <br>    
</div>
    {% if report %}
   <textarea id = 'report'>{{ report }}</textarea>
    {% endif %}
    
</body>
</html>