<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SearchResult</title>
    <link rel="stylesheet" href="/static/css/search_system.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="all_actions">
    <h1 id="title_name">Automatical Translation</h1>
    <div class="search">
    <form method="POST" action="{% url 'translation' %}">
        {% csrf_token %}
        <input id="search_input" type="text" name="url" required placeholder="Input URL...">
        
    </form>
     
    </div>
    <div id="add_links_and_calc_metrics">
        <form action="{% url 'get_words_freq' %}">
            <button class="btn"  type="submit">Words Frequence</button>
        </form>    
    <form action="{% url 'create_tree' %}">
        <button class="btn"  type="submit">Syntax Tree</button>
    </form>
    <form action="{% url 'translation' %}">
        <button class="btn"  type="submit">Return to Translate</button>
    </form>
   
    </div>
    </div>
    <div id="div-for-link">
    <a id='lang-link' href = '{{ url }}' target="_blank"> {{ url }}</a>
</div>

{% if pos_tags %}
<h2>POS Tags</h2>

<table>
    <tr>
        <th>Word</th>
        <th>POS Tag</th>
    </tr>
    {% for word, tag in pos_tags %}
        <tr>
            <td>{{ word }}</td>
            <td>{{ tag }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}



</body>
</html>